{% if not entity.comic_issue_creators is empty %}
{% if entity.comic_issue_creators[0].creator is not empty %}
    <h2>Creators</h2>
{% else %}
    <h2>Magazine Issues</h2>
{% endif %}
<table class="table">
<tr>
    {% if entity.comic_issue_creators[0].creator is not empty %}
    <th>Creator</th>
    {% endif %}
    {% if entity.comic_issue_creators[0].comic_issue is not empty %}
    <th>Issue</th>
    {% endif %}
    {% if entity.comic_issue_creators[0].credit is not empty %}
    <th>Credit</th>
    {% endif %}
</tr>
{% for comic_issue_creator in entity.comic_issue_creators %}
<tr>
    {% if comic_issue_creator.creator is not empty %}
    <th><a href="/creator/{{ comic_issue_creator.creator.creator_id }}/">
        {{ comic_issue_creator.creator.last_name }}{{ comic_issue_creator.creator.first_name ? ', ' : '' }}{{ comic_issue_creator.creator.first_name }}
    </a></th>
    {% endif %}
    {% if comic_issue_creator.comic_issue is not empty %}
    <th><a href="/comic-issue/{{ comic_issue_creator.comic_issue.comic_issue_id }}/">
        {{ comic_issue_creator.comic_issue.comic_title.title }} #{{ comic_issue_creator.comic_issue.issue_number}}
    </a> {% if comic_issue_creator.comic_issue.cover_date is not empty %}({{ comic_issue_creator.comic_issue.cover_date }}){% endif %}</th>
    {% endif %}
    {% if comic_issue_creator.credit is not empty %}
    <th>{{ comic_issue_creator.credit.credit }}</th>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
