{% if not creator.books is empty %}
<h2>Books</h2>
<table class="table">
<tr>
    <th>Book</th>
    <th>Publisher</th>
    <th>Credit</th>
</tr>
{% for book in creator.books %}
<tr>
    <th><a href="/book/{{ book.book.bookid }}/">
        {{ book.book.booktitle }}
        {% if book.book.gameline.gameline not in book.book.booktitle %}({{ book.book.gameline.gameline }}){% endif %}
        {% if book.book.copyright is not empty %}({{ book.book.copyright }}){% endif %}
    </a></th>
    <th><a href="/publisher/{{ book.book.publisher.publisherid }}/">{{ book.book.publisher.publisher }}</a></th>
    <th>{{ book.credit.credit }}</th>
</tr>
{% endfor %}
</table>
{% endif %}
