{% if not creator.articles is empty %}
<h2>Articles</h2>
<table class="table">
<tr>
    <th>Article</th>
    <th>Credit</th>
</tr>
{% for article in creator.articles %}
<tr>
    <th><a href="/article/{{ article.article.articleid }}/">
        &quot;{{ article.article.arttitle }}&quot;
    </a> in <a href="/magazine/{{ article.article.magazine.magazineid }}/">
        {{ article.article.magazine.title.magtitle }} #{{ article.article.magazine.issuenumber}}
    </a> {% if article.article.magazine.coverdate is not empty %}({{ article.article.magazine.coverdate }}){% endif %}</th>
    <th>{{ article.credit.credit }}</th>
</tr>
{% endfor %}
</table>
{% endif %}
