{% if not creator.magazines is empty %}
<h2>Magazines</h2>
<table class="table">
<tr>
    <th>Magazine</th>
    <th>Credit</th>
</tr>
{% for mag in creator.magazines %}
<tr>
    <th><a href="/magazine/{{ mag.magazine.magazineid }}/">
        {{ mag.magazine.title.magtitle }} #{{ mag.magazine.issuenumber}}
    </a> {% if mag.magazine.coverdate is not empty %}({{ mag.magazine.coverdate }}){% endif %}</th>
    <th>{{ mag.credit.credit }}</th>
</tr>
{% endfor %}
</table>
{% endif %}
