{% if not creator.comics is empty %}
<h2>Comics</h2>
<table class="table">
<tr>
    <th>Book</th>
    <th>Publisher</th>
    <th>Credit</th>
</tr>
{% for comic in creator.comics %}
<tr>
    <th><a href="/comic/{{ comic.comic.comicid }}/">
        {{ comic.comic.title.comictitle }} #{{ comic.comic.issuenumber}}
    </a> {% if comic.comic.coverdate is not empty %}({{ comic.comic.coverdate }}){% endif %}</th>
    <th><a href="/publisher/{{ comic.comic.title.publisher.publisherid }}/">{{ comic.comic.title.publisher.publisher }}</a></th>
    <th>{{ comic.credit.credit }}</th>
</tr>
{% endfor %}
</table>
{% endif %}
