{% if not entity.magazine_article_creators is empty %}
<h2>Magazine Articles</h2>
<table class="table">
<tr>
    <th>Article</th>
    <th>Credit</th>
</tr>
{% for magazine_article_creator in entity.magazine_article_creators %}
<tr>
    <th><a href="/magazine-article/{{ magazine_article_creator.magazine_article.magazine_article_id }}/">
        &quot;{{ magazine_article_creator.magazine_article.title }}&quot;
    </a> in <a href="/magazine-issue/{{ magazine_article_creator.magazine_article.magazine_issue.magazine_issue_id }}/">
        {{ magazine_article_creator.magazine_article.magazine_issue.magazine_title.title }} #{{ magazine_article_creator.magazine_article.magazine_issue.issue_number}}
    </a> {% if magazine_article_creator.magazine_article.magazine_issue.cover_date is not empty %}({{ magazine_article_creator.magazine_article.magazine_issue.cover_date }}){% endif %}</th>
    <th>{{ magazine_article_creator.credit.credit }}</th>
</tr>
{% endfor %}
</table>
{% endif %}
