{% if not entity.other_game_creators is empty %}
<h2>Other Games</h2>
<table class="table">
<tr>
    <th>Product</th>
    <th>Publisher</th>
    <th>Credit</th>
</tr>
{% for other_game_creator in entity.other_game_creators %}
<tr>
    <th><a href="/other-game/{{ other_game_creator.other_game.other_game_id }}/">
        {{ other_game_creator.other_game.title }}
        {% if other_game_creator.other_game.game_line.game_line not in other_game_creator.other_game.title %}({{ other_game_creator.other_game.game_line.game_line }}){% endif %}
        {% if other_game_creator.other_game.copyright is not empty %}({{ other_game_creator.other_game.copyright }}){% endif %}
    </a></th>
    <th><a href="/publisher/{{ other_game_creator.other_game.publisher.publisher_id }}/">{{ other_game_creator.other_game.publisher.publisher }}</a></th>
    <th>{{ other_game_creator.credit.credit }}</th>
</tr>
{% endfor %}
</table>
{% endif %}
