{% if not entity.rpg_book_creators is empty %}
{% if entity.rpg_book_creators[0].creator is not empty %}
    <h2>Creators</h2>
{% else %}
    <h2>RPG Books</h2>
{% endif %}
<table class="table">
<tr>
    {% if entity.rpg_book_creators[0].creator is not empty %}
    <th>User</th>
    {% endif %}
    {% if entity.rpg_book_creators[0].rpg_book is not empty %}
    <th>Book</th>
    {% if entity.rpg_book_creators[0].rpg_book.publisher is not empty %}
    <th>Publisher</th>
    {% endif %}
    {% endif %}
    {% if entity.rpg_book_creators[0].credit is not empty %}
    <th>Credit</th>
    {% endif %}
</tr>
{% for rpg_book_creator in entity.rpg_book_creators %}
<tr>
    {% if rpg_book_creator.creator is not empty %}
    <td><a href="/creator/{{ rpg_book_creator.creator.creator_id }}/">
        {{ rpg_book_creator.creator.last_name }}{{ rpg_book_creator.creator.first_name ? ', ' : '' }}{{ rpg_book_creator.creator.first_name }}
    </a></td>
    {% endif %}
    {% if rpg_book_creator.rpg_book is not empty %}
    <td><a href="/rpg-book/{{ rpg_book_creator.rpg_book.rpg_book_id }}/">
        {{ rpg_book_creator.rpg_book.title }}
        {% if rpg_book_creator.rpg_book.game_line.game_line not in rpg_book_creator.rpg_book.title %}({{ rpg_book_creator.rpg_book.game_line.game_line }}){% endif %}
        {% if rpg_book_creator.rpg_book.copyright is not empty %}({{ rpg_book_creator.rpg_book.copyright }}){% endif %}
    </a></td>
    {% if rpg_book_creator.rpg_book.publisher is not empty %}
    <td><a href="/publisher/{{ rpg_book_creator.rpg_book.publisher.publisher_id }}/">{{ rpg_book_creator.rpg_book.publisher.publisher }}</a></td>
    {% endif %}
    {% endif %}
    {% if rpg_book_creator.credit is not empty %}
    <td>{{ rpg_book_creator.credit.credit }}</td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
