{% if not entity.short_story_creators is empty %}
{% if entity.short_story_creators[0].creator is not empty %}
    <h2>Creators</h2>
{% else %}
    <h2>Short Stories</h2>
{% endif %}
<table class="table">
<tr>
    {% if entity.short_story_creators[0].creator is not empty %}
    <th>Name</th>
    {% endif %}
    {% if entity.short_story_creators[0].short_story is not empty %}
    <th>Story</th>
    {% endif %}
    {% if entity.short_story_creators[0].credit is not empty %}
    <th>Credit</th>
    {% endif %}
</tr>
{% for short_story_creator in entity.short_story_creators %}
<tr>
    {% if short_story_creator.creator is not empty %}
    <td><a href="/creator/{{ short_story_creator.creator.creator_id }}/">
        {{ short_story_creator.creator.last_name }}{{ short_story_creator.creator.first_name ? ', ' : '' }}{{ short_story_creator.creator.first_name }}
    </a></td>
    {% endif %}
    {% if short_story_creator.short_story is not empty %}
    <td><a href="/short-story/{{ short_story_creator.short_story.short_story_id }}/">
        "{{ short_story_creator.short_story.title }}"</a>
        {% if short_story_creator.short_story.game_line.game_line not in short_story_creator.short_story.title %}({{ short_story_creator.short_story.game_line.game_line }}){% endif %}
        {% if not short_story_creator.short_story.magazine is empty %}
            in <a href="/magazine/{{ short_story_creator.short_story.magazine.magazine_id }}/">
            {{ short_story_creator.short_story.magazine.title.magtitle }} #{{ short_story_creator.short_story.magazine.issue_number}}
            </a>
        {% endif %}
        {% if not short_story_creator.short_story.fictional_book is empty %}
            in <a href="/fiction-book/{{ short_story_creator.short_story.fictional_book.fictional_book_id }}/">
            {{ short_story_creator.short_story.fictional_book.title }}
            </a>
        {% endif %}
        {% if not short_story_creator.short_story.rpg_book is empty %}
            in <a href="/rpg-book/{{ short_story_creator.short_story.rpg_book.rpg_book_id }}/">
            {{ short_story_creator.short_story.rpg_book.title }}
            </a>
        {% endif %}
    </td>
    {% endif %}
    {% if short_story_creator.credit is not empty %}
    <td>{{ short_story_creator.credit.credit }}</td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endif %}
