{% extends "layout.html.twig" %}

{% block content %}
<h1>{{ creator.first_name }} {{ creator.last_name }}</h1>
<dl class="dl-horizontal">
    {% if not creator.photo is empty %}
    <dt>Photo</dt><dd><img src="/images/rpgcreators/{{ creator.photo }}"></dd>
    {% endif %}

    {% if not creator.url is empty %}
    <dt>Homepage</dt><dd><a href="{{ creator.url }}">{{ creator.url }}</a></dd>
    {% endif %}

    {% if not creator.urls is empty %}
    {% for url in creator.urls %}
    <dt>Other URL</dt><dd><a href="{{ url.url }}">{{ url.title }}</a></dd>
    {% endfor %}
    {% endif %}

    {% if not creator.email is empty %}
    <dt>Email</dt><dd><a href="mailto:{{ creator.email }}">{{ creator.email }}</a></dd>
    {% endif %}

    {% if not creator.hometown is empty %}
    <dt>Hometown</dt><dd>{{ creator.hometown }}</dd>
    {% endif %}

    {% if not creator.birth is empty %}
    <dt>Birth</dt><dd>{{ creator.birth }}</dd>
    {% endif %}

    {% if not creator.death is empty %}
    <dt>Death</dt><dd>{{ creator.death }}</dd>
    {% endif %}

    {% if not creator.notes is empty %}
    <dt>Notes</dt><dd>{{ creator.notes | raw }}</dd>
    {% endif %}
</dl>

{{ include('inc/rpg_book_creators.html.twig', {entity: creator}) }}
{{ include('inc/other_game_creators.html.twig', {entity: creator}) }}
{{ include('inc/magazine_issue_creators.html.twig', {entity: creator}) }}
{{ include('inc/magazine_article_creators.html.twig', {entity: creator}) }}
{{ include('inc/fiction_book_creators.html.twig', {entity: creator}) }}
{{ include('inc/short_story_creators.html.twig', {entity: creator}) }}
{{ include('inc/comic_issue_creators.html.twig', {entity: creator}) }}

{% endblock content %}
