{% extends "layout.html.twig" %}

{% block content %}
{{ include('inc/pagination.html.twig', {slug: 'creators', prefix: prefix}) }}

{% if creators | length > 0 %}
    <ul>
    {% for creator in creators %}
        <li><a href="/creator/{{ creator.creator_id }}/">
            {{ creator.last_name }}{{ creator.first_name ? ', ' : '' }}{{ creator.first_name }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Creators Found</p>
{% endif %}
{% endblock content %}
