{% extends "layout.html.twig" %}

{% block content %}
<ul class="list-inline">
{% for letter in 'A' .. 'Z' %}
    <li><a href="/creators/{{ letter }}/">{{ letter }}</a></li>
{% endfor %}
</ul>

{% if creators | length > 0 %}
    <ul>
    {% for creator in creators %}
        <li><a href="/creator/{{ creator.creator_id }}/">
            {{ creator.last_name }}{{ creator.first_name ? ', ' : '' }}{{ creator.first_name }}
        </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Creators Found</p>
{% endif %}
{% endblock content %}
